<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<div class="header">
    <h1>Hawiiaan Heaven</h1>
  </div>
  <nav>
    <ul>
      <li>
        <a href="/pizzas">Pizza Orders</a>
      </li>
      <li>
      <a href="/pizzas/new">New Pizza</a>
    </ul>
  </nav>


  <%= yield %>
</body>
</html>